<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            {% include 'menu.jinja2' %}
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>